<p-toast />
<p-confirmDialog />
<div class="admin-page">
  <p-card header="Categories" subheader="List of all categories">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button icon="pi pi-plus" label="New" styleClass="mr-2" (onClick)="openCategoryDialog()"></p-button>
<!--         <button pButton icon="pi pi-print" class="mr-2 p-button-success"></button> ********** Another button way ********** -->
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table [value]="categories" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
              <th>Icon</th>
              <th>Color</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-category>
            <tr>
              <td>{{ category.name }}</td>
              <td><i class="pi" [ngClass]="'pi-' + category.icon" style="font-size: 1.3rem"></i></td> <!-- This is the category of the item -->
              <td><div class="color-container" [ngStyle]="{ 'background-color': category.color, 'width': '1.8rem', 'height': '1.8rem', 'border-radius': '50%' }"></div></td>
              <td>
                <p-button icon="pi pi-trash" styleClass="mr-2" severity="danger" [style]="{ 'height': '2rem', 'width': '2rem' }" (onClick)="deleteCategory(category.id)"></p-button>
                <p-button icon="pi pi-pencil" styleClass="p-button-success" [style]="{ 'height': '2rem', 'width': '2rem' }" (onClick)="editCategory(category.id)"></p-button> <!--Just another way of applying css class-->
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
